html {
  background: #a9a9a9;
  font-size: 1em;
  line-height: 1.4;
  font-family: Geneva, Tahoma, sans-serif;

}

body {
  color: black;
}

button {
  background: #1e90ff;
  border-style: solid;
  cursor:  pointer;
  outline: black;
  padding: 5px;
  font-size: 1em;
  margin-bottom: 10px;
}

.top-right-options {
  position: absolute;
  top: 1em;
  right: 1em;

}
